main {
    width: 100%;
    padding: 40px;
}

main .title-public{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 50px;
}

main .container-feed div#container-item{
    max-width: 1300px;
    background-color: #FFF4FF;
    margin: 0 auto;
    border: 1px solid rgba(255, 81, 203, 0.096);
    border-radius: 3px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #434343;
    margin-bottom: 20px;
}

main .container-feed div#container-item .ctn-itens{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-pub{
    font-size: 13px;
    color: #8d8d8d;
    margin-left: 4px;
    font-weight: 300;
}

.ctn-btn a{
    background-color: #FF0CAC;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display:  flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.ctn-btn a:hover{
    background-color: #fa3fbc;
}

@media (max-width: 700px) {
    #container-item{
        display:flex;
        flex-direction: column;
        gap: 2rem;
    }

    .ctn-btn button{
        padding: 10px 50px;;
    }
}

