#navbar {
    width: 100%;
    height: 60px;
    background-color:#ff9800;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

#navbar div{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar div ul{
    display: flex; 
    list-style: none;
    gap: 2rem;
}

#navbar div ul li a{
    text-decoration: none;
    color: #fff;
}

#navbar div ul li{
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

#navbar div ul li:hover{
    border-bottom: 3px solid rgb(255, 255, 255);
}

.active{
    border-bottom: 3px solid rgb(255, 255, 255);
}