section {
    background-color: #474747;
    color: #c0c0c0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

section #container-pub{ 
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: 300;
    font-size: 13px;
}

section div button.btn-create{
    width: 150px;
    padding: 10px;
    background-color:#0dc959;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    display: flex;
    gap: 0.5rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

section div button.btn-create:hover{
    background-color:#11d860;
}

section div button.btn-create span.mais{
    font-size: 23px;
    line-height: 15px;
}

@media (max-width: 600px){
    #description-alert span{
        display: none;
    }
}
